@charset "UTF-8";

// use flex-box
@mixin flex( $list ) {
    display: flex;
    
    $hasNone: false;
  
    @each $value in $list {
      @if( $value == column ){ flex-direction: column; }
      @if( $value == wrap ){ flex-wrap: wrap; }
      @if( $value == start ){ justify-content: start; }
      @if( $value == center ){ justify-content: center; }
      @if( $value == end ){ justify-content: flex-end; }
      @if( $value == top ){ align-items: flex-start; }
      @if( $value == middle ){ align-items: center; }
      @if( $value == bottom ){ align-items: flex-end; }
      @if( $value == between ){ justify-content: space-between; }
      @if( $value == around ){ justify-content: space-around; }
      @if( $value == tight ){ align-content: flex-start; }
      @if( $value == auto ){ flex: auto; }
      @if( $value == none ){ flex: none; $hasNone: true;}
    }
  
    @if( $hasNone != true ){ width: 100%; }
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import 'api';

@import 'footer';

@import 'search';

@import 'banner';

@import 'column';

@import 'product';

@import 'userindex';

@import 'list';

@import 'icon';

@import 'helper';