@charset "UTF-8";

.bar-nav~.content {
    position: relative;
    background: #FFFFFF;
}
#user_login{
    background: #FFFFFF;
}
#user_login .native-scroll{
    background: #FFFFFF;
}
.user-form{
    padding: 0.75rem 1.25rem;
}
.form-list .icon_mobile{
    background: url(~@/assets/images/login/zhanghu-shouji.png) no-repeat center;
    left: 10px;
    width: 22px;
    height: 50px;
    background-size: contain;
    vertical-align: middle;
}
.form-list .icon_password{
    background: url(~@/assets/images/login/zhanghu-xinmima.png) no-repeat center;
    left: 10px;
    width: 20px;
    height: 50px;
    background-size: contain;
    vertical-align: middle;
}
.form-list .icon_code{
    background: url(~@/assets/images/login/zhanghu-yanzhengma.png) no-repeat center;
    width: 20px;
    height: 50px;
    background-size: contain;
    vertical-align: middle;
}
.form-list li{
    margin-top: 10px;
    height: 50px;
    line-height: 2.5rem;
    overflow: hidden;
    display: flex;
}
.form-list li i.iconfont{
    font-size:  1.1rem;
    display: block;
}
.form-list li i.input-clear{
    font-size:.8rem;
    margin: 0;
    color:#d8d8d8;
    padding:0 .5rem;
    line-height: 2.5rem;
    display:none;
}
.form-list li input.form-text{
    width: 70%;
    height: 50px;
    color: #999!important;
    font-size: .75rem;
    margin-left: 0.2rem;
    display: block;
}
.form-list li .sendBtn {
    display: block;
    padding-left: 0.5rem;
    margin-top: 15px;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .75rem;
    border-left: 1px solid #e3e5e9;
    border-radius: 0;
}
.form-list li .noUseful{
    color: .65rem;
}
.form-list li .isUseful{
    color: #353d44;
    outline: none;
}


.loginWarm{
    color: .65rem;
    font-size:0.75rem;
    margin-top: 0.75rem;
    line-height: 0.6rem;
}
.loginWarm a{
    color: #3d96dd;
    margin-left: 0.2rem;
}
.getPsw{
    color: #656565;
    display: block;
    font-size: .75rem;
    margin-top: 0.75rem;
	padding-bottom:0.75rem;
    line-height: 0.6rem;
}
input.userBtn{
    display: block;
    width: 100%;
    height: 45px;
    text-align: center;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;

}
input.userBtn-red{
    background: #ff2244;
    margin-top: 2rem;
}
input.userBtn-yellow{
    background: #f43429;
    margin-top: 1.25rem;
}

.third-login{
    width: 100%;
    margin-top: 3.2rem;
    text-align: center;
}
.third-login .third-login-title{
    color: .65rem;
    font-size: .65rem;
    line-height: 1.2rem;
}
.third-login-info{
    padding-top: 0.75rem;
    height: 3.75rem;
    overflow: hidden;
}
.third-login-info a{
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.75rem;
    border-radius: 50%;
    font-size: 1.4rem;
    margin: 0 0.2rem;
}
.third-login-info a.weixin-login{
    border: 1px solid #85bd59;
}
.third-login-info a.weixin-login i{
    color: #85bd59;
}
.form-list li i.eyes-no{
    color: #D8D8D8;
}
.form-list li i.eyes-yes{
    display: none;
    color: #ff2244;
}


/*  ç”¨æˆ·ç™»å…¥é¡µé¢  */
.tab-ways{
    width: 100%;
    height: 2rem;

}
.tab-ways li{
    width: 50%;
    height: 2rem;
    float: left;
    line-height: 2rem;
    color: .65rem;
    font-size: .65rem;
    text-align: center;
    background: #f9f9f9;
    position: relative;
}
.tab-ways li .betweenLine{
    width: 1px;
    height:100%;
    background:#e3e5e9;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index:5;
}
.form-list li .noUseful {
    color: #999!important;
}
.tab-ways li.active {
    background: #FFFFFF;
    color: #353d44!important;
}
.tab-ways li {
    width: 50%;
    height: 40px;
    float: left;
    line-height: 40px;
    color: #999!important;
    font-size: .85rem;
    text-align: center;
    background: #f9f9f9;
    position: relative;
}

.b-line{
  position: relative;
}
.b-line::after{
  content: '';
  width: 100%;
  height:1px;
  background:#e3e5e9;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform:translateY(50%) translateZ(0) scaleY(0.5);
  transform:translateY(50%) translateZ(0) scaleY(0.5);
  -webkit-transform-origin:0 50%;
  transform-origin: 0 50%;
  z-index:5;
}


/* ç”¨æˆ·åè®® */
.protocol{
    padding: 0.75rem 0.5rem 0;
}
.protocol h2{
    font-size: .95rem;
}
.protocol p{
    font-size: .85rem;
}